<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="text-center mb-5">
        <h1 class="display-4 text-white mb-3"><%= title %></h1>
        <p class="text-white-50">GitHub Repository: <a href="https://github.com/shanep/fullstack-starter">https://github.com/shanep/fullstack-starter</a></p>
        <a href="/lab1" class="btn btn-secondary mt-3">Go to Lab 1 Page</a>
      </div>
    </div>
  </div>
</div>
