name: Build Docker Images

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read    # This is required for actions/checkout

defaults:
  run:
    shell: bash

jobs:
  build-linux-images:
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
      APP_VERSION: ${{ vars.APP_VERSION }}
      APP_NAME: ${{ vars.APP_NAME }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker Images
        run: |
          chmod +x ./dev.sh
          ./dev.sh init
          ./dev.sh build

  build-windows-images:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: |
          chmod +x ./dev.sh
          ./dev.sh init
          ./dev.sh build
